<div class="container">
    <div class="inner-cont">
      <app-title-bar [title]="title"></app-title-bar>
      <form>
          <input type="text" placeholder="Title">
          <div class="inp-cont">
            <input type="text" placeholder="Memo">
            <mat-icon class="icon">palette</mat-icon>
          </div>
          <div class="inp-cont">
            <input type="text" placeholder="Upload Image">
            <mat-icon class="icon">add_photo_alternate</mat-icon>
          </div>
          <div class="collapsed" [ngClass]="{'expand': timeIsExpanded}">
            <div class="preview">
              <div class="default"><span> Time</span><mat-slide-toggle (change)="chooseTime($event)"></mat-slide-toggle></div >
             <div class="time-picker-cont" *ngIf="isExpanded">
                <div class="chosenTime"><mat-icon class="width" matBadge="4" matBadgeColor="warn">notifications</mat-icon><span>Today   
                 {{formattedTime}} 
                </span>
              </div>
                <div >
                  <mat-calendar [(selected)]="selectedDate"></mat-calendar>

                   <mat-icon  [ngxTimepicker]="picker" [format]="24">schedule</mat-icon>
                   <ngx-material-timepicker #picker ></ngx-material-timepicker>
                </div>

             </div > 
              <div class="chosenTime"*ngIf="isExpanded"><mat-icon class="width" matBadge="4" matBadgeColor="warn">repeat</mat-icon><span>Don't repeat   
              </span> </div>
              <div class="chosenTime"*ngIf="isExpanded"><mat-icon class="width" matBadge="4" matBadgeColor="warn">volume_up</mat-icon><span>Ring once   
              </span> </div>


            </div>
          </div>
          <div class="collapsed" [ngClass]="{'expand': placeIsExpanded}">
            <div class="preview">
              <div class="default"><span>Place</span><mat-slide-toggle (change)="choosePlace($event)"></mat-slide-toggle></div>
            </div>
          </div>
          <label *ngIf="!activated"><mat-icon>notifications_off</mat-icon> <span> You won't get notification.</span></label>
          <div class="bottom-actions">
            <button routerLink="/home">Cancel</button>
            <button class="pale">Save</button>
          </div>
    </form>
    </div>
  </div>