<div class="container">
    <div class="inner-cont">
        <app-title-bar [title]="title"></app-title-bar>
        <div class="header-cont">
            <span>General</span>
        </div>
        <div class="modes-cont">
            <div class="modes">
            <i class="fa-solid fa-play"></i><span>Auto Mode</span>
            </div>
            <mat-slide-toggle></mat-slide-toggle>
        </div>
        <hr>
        <div class="header-cont">
            <span>Presets</span>
        </div>
        <div class="modes-cont">
            <div class="modes">
            <mat-icon>schedule</mat-icon><span>Time</span>
            </div>
            <mat-slide-toggle></mat-slide-toggle>
        </div>
        <hr>
        <div class="modes-cont">
            <div class="modes">
            <mat-icon>location_on</mat-icon><span>Place</span>
            </div>
            <mat-slide-toggle></mat-slide-toggle>
        </div>
        <hr>
        <div class="header-cont">
            <span>Aftercall feature</span>
        </div>
        <div class="modes-cont">
            <div class="modes">
            <mat-icon>phone</mat-icon><span>Aftercall feature settings</span>
            </div>
        </div>
        <hr>
        <div class="header-cont">
            <span>Support</span>
        </div>
        <div class="modes-cont">
            <div class="modes">
            <mat-icon>share</mat-icon><span>Share</span>
            </div>
        </div>
        <hr>
        <div class="modes-cont">
            <div class="modes">
            <mat-icon>information</mat-icon><span>About Us</span>
            </div>
        </div>
        <hr>
        <div class="modes-cont">
            <div class="modes">
            <mat-icon>star</mat-icon><span>Rate Us</span>
            </div>
        </div>
        <hr>
        <div class="modes-cont">
            <div class="modes">
            <mat-icon>lock</mat-icon><span class="class1 class2">Privacy Policy</span>
            </div>
        </div>
        <hr>
    </div>
</div>