.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.5vh;
}
mat-icon{
  position: absolute;
  left:5px;
  color: var(--primary-lightgray);
}
input{
  width: 100%;
  height: 100%;
  padding-left: 30px;
  outline: none;
  border:1px solid  var(--primary-lightgray);
  border-radius: 5px;
}